#iniciologo a{
	height: 10%;
	width: 10%;
}
.logoMedio img{
	max-width: 10px;
	height:10px;
}

ion-header {
	padding-top: 0;
	background: #00bfa5;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

ion-card-title{
	font-weight: bold;
}