.img-publicacion{
    width: 80%;
    margin: auto;
}
.icon-whapp{
 background: rgb(5, 158, 5);
 border-radius: 100%;
 color: white;
 margin-right: 25px;
 width: 42px;
 height: 42px;
}
.icon-telefono{
    background: rgb(236, 142, 142);
    border-radius: 100%;
    color: white;
    width: 42px;
    height: 42px;
}