<ion-card >
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img class="img-publicacion" [src]="publicacion.foto"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label class="subtitulo ion-text-wrap">{{publicacion.nombre}}</ion-label>


        </ion-item>

        <p class="normal m-3">descripcion: {{publicacion.descripcion}}</p>
        <ion-item>
          <ion-buttons slot="end" (click)="contactar(publicacion.telContacto)">
            <ion-button class="icon-whapp">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-button>
            <ion-button class="icon-telefono">
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
     </ion-col>
     
    </ion-row>
   
  </ion-grid>
 
  
</ion-card>
