ion-title {
	// padding-top: 0;
	// background: #00bfa5;
	// padding-bottom: 0;
	// margin-bottom: 0;
	// text-align: auto;
    // color: black;
    font-weight: bold ;
    
}

.logoMedio {
	width: 110px;
	height: auto;
	margin: auto;
	padding-top: 15px;
}

.header-ios ion-toolbar:last-of-type {
	--border-width: 0;
}

.footer-ios ion-toolbar:first-of-type {
	--border-width: 0;
}

ion-card-title {
	font-weight: bold;
	font-size: 20px;
}

ion-item {
	--padding-start: 0;
}

ion-label {
	margin: 0;
}

.typoForm{
	color: rgb(181, 181, 181);
}

.containerIngresar {
	padding-bottom: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	margin-inline: 0 !important;
}

.containerIngresar ion-button {
	margin-inline: 0 !important;
	margin-top: 10px;
}

#correoConfir {
	text-align: center;
	margin-top: 0;
	color: rgb(181, 181, 181);
	padding-bottom: 10px;
}

ion-card-content{
	padding-bottom: 10px;
}

#footerIngresar {
	padding-left: 6px;
}